body {
    background: linear-gradient(180deg, #121212, #1E1E1E);
    height: 300vh;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.5px;
    overflow-x: hidden;
    overflow-y: visible;
}